<div class="container">
  <h3>Categories</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>
          <a routerLink="/home/categories/{{ category.id }}">
            {{ category.id }}
          </a>
        </td>
        <td>{{ category.name }}</td>
        <td>{{ category.count }}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- <ul>
  <li *ngFor="let post of categories">
    <a routerLink="/post/{{post.id}}">{{ post.name }}</a>
  </li>
</ul> -->