<div class="container">
    <h3>{{ careerDetails?.title?.rendered }}</h3>
    <span>id: {{ careerDetails?.id }}</span><br>
    <div *ngIf="careerDetails?.fimg_url">
      <span>Featured_image:
        <br>
        <img src="{{ careerDetails?.fimg_url }}" alt="img">
      </span>
    </div>
    <div *ngIf="careerDetails?.content?.rendered">
      <span>Image:
        <div [innerHtml]="careerDetails?.content?.rendered"
        width="150px" height="150px"></div>
      </span>
    </div>
    <div *ngIf="careerDetails?.excerpt?.rendered">
        <span>Excerpt:
        <div [innerHtml]="careerDetails?.excerpt?.rendered"></div>
        </span>
    </div>
    <span>Created Date: {{ careerDetails?.date }}</span>
    <br>
    <span>Updated Date: {{ careerDetails?.modified }}</span>
</div>