
<div class="container-fluid">
    <div>
        <nav class="navbar navbar-expand-lg scrolling-navbar">
            <ul class="list-unstyled">
                <li>
                    <a routerLink = "/posts" routerLinkActive="active">Posts</a>
                </li>
                <li>
                    <a routerLink = "/categories" routerLinkActive="active">Categories</a>
                </li>
                <li>
                    <a routerLink = "/pages" routerLinkActive="active">Pages</a>
                </li>
                <li>
                    <a routerLink = "/careers" routerLinkActive="active">Careers</a>
                </li>
            </ul>
        </nav>
        <router-outlet></router-outlet>
    </div>
</div>


<!-- <div>
    <div>
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
            <nav class="collapse bd-links">
                <div class="bd-toc-item" id="bd-tocs-nav">
                    <a class="bd-toc-item" routerLink = "/posts">
                        Posts
                    </a>
                </div>
            </nav>
        </div>
    </div>
</div> -->